html{
    /* color: white; */
}

body{
    /* color: white; */
    font-family: 'Roboto', Times, serif;
}
.header-container{
     display: flex;
     flex-direction: column;
     background-color: #1f2937;
     color: white;
     padding-top: 10px;
     padding-bottom: 50px;
     

}

.top-header{
    display: flex;
}

.mid-header{
    display: flex;
}