

body{
    /* color: white; */
    font-family: 'Roboto', Times, serif;
}

img{
    flex-shrink: 0;
}


.link{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-style: normal;
    color: white;
}


.header-container{
     display: flex;
     flex-direction: column;
     background-color: #1f2937;
     color: white;
    /* justify-content: center; */
     padding: 10px 100px 50px 100px;
     

}

.top-header{
    display: flex;
    gap: 20px;
}

.header-logo{
    margin-right: auto;
    font-size: 18px;
    color: #E5E7EB;
}

.mid-header{
    display: flex;
    gap: 50px;
    justify-content: center;
    
}

.header-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* flex-wrap: wrap;
    flex-grow: 1; */

    width: 500px;
}



.h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}